version: 2.1

jobs:
  build:
    docker:
      - image: cimg/android:2023.09
    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Xmx2048m -Dorg.gradle.daemon=false"
    steps:
      - checkout
      - run:
          name: Ensure gradlew is executable
          command: chmod +x ./gradlew
      - run:
          name: Download Dependencies
          command: ./gradlew dependencies
      - run:
          name: Build Debug APK
          command: ./gradlew assembleDebug
      - run:
          name: Run Unit Tests
          command: ./gradlew test
